{% load static %}
{% include 'widgets/header.html' %}

<div class="m-5">
    {% if fave_list %}
        {% for cls in fave_list %}
          <div class="col-12 col-xl-3 col-md-4 col-xxl-3 p-2">
            <a href="/class/{{cls.product.slug}}" >

                <div class="card">
                  <div class="img-heads">
                    <img style="width:100%" src="/media/{{ cls.product.image }}" alt="" />
                    {% if request.user.is_authenticated %}
                        {% if cls.product.id in  request.user.fav_list %}
                            <span onclick="fav_this_class({{cls.product.id}},'fav_icon','{{csrf_token}}','refresh',event)" class="fav_icon text-danger" style=" user-select: none;">&#9829; </span>
                        {% else %}
                            <span onclick="fav_this_class({{cls.product.id}},'fav_icon','{{csrf_token}}','refresh',event)"  class="fav_icon text-danger" style=" user-select: none;">&#9825; </span>
                        {%endif%}
                    {% else %}
                        <a href="/login">
                            <span class="fav_icon text-danger" style=" user-select: none;">&#9825;</span>
                        </a>
                    {%endif%}
                  </div>
                  <div class="body">
                    <div class="d-flex px-3 justify-content-between mb-2">
                        <div>
                            <p class="m-0"><small>class name</small></p>
                            <p class="p-0 m-0">{{ cls.product.name }}</p>
                        </div>
                        <div>
                            <p class="m-0"><small>class price</small></p>
                            <p class="p-0 m-0">{{ cls.product.price_currency }} {{ cls.product.price }}</p>
                        </div>
                    </div>
                    <div class="d-flex px-3 justify-content-between mb-2">
                        <div>
                            <p class="m-0"><small>class Category</small></p>
                            <p class="p-0 m-0">{{ cls.product.category.name }}</p>
                        </div>
                        <div>
                            <p class="m-0"><small>class duration</small></p>
                            <p class="p-0 m-0">{{ cls.product.length }}</p>
                        </div>
                    </div>
                    <div class="d-flex px-3 justify-content-between mb-2">
                        <div>
                            <p class="m-0"><small>class level</small></p>
                            <p class="p-0 m-0">{{ cls.product.experties_level }}</p>
                        </div>
                        <div>
                            <p class="m-0"><small>insitute working time</small></p>
                            <p class="p-0 m-0">{{ cls.product.open_time }} - {{ cls.product.close_time }}</p>
                        </div>
                    </div>
                  </div>
                </div>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <h2 class="text-center mt-5 pt-5">You don't any fav class yet</h2>

      {% endif %}
</div>

{% include 'widgets/footer.html' %}